<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Of Jobs</title>
</head>
<body>
<h2>List of Jobs</h2>

<table width="100%">
    <tr style="background-color:red;color:white;font-weight:bold">
        <th>Id</th>
        <th>Title</th>
        <th>Min Salary</th>
    </tr>
    {% for j in jobs %}
      <tr>
        <td style="text-align:center"> {{j.0}} </td>
        <td style="text-align:center"> {{j.1 | upper}} </td>
        <td style="text-align:center"> {{j.2}} </td>
      </tr>
    {% endfor %}
</table>
</body>
</html>