<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titles</title>
    <style>
      body { font-family : verdana; font-size :12pt}
      .banner {background-color:maroon;color:white;font-size:24pt;font-weight:bold;
               letter-spacing:5pt;}
      .menu {background-color:wheat;font-size:12pt;font-weight:bold; }
    </style>
</head>
<body>
<div class="banner">Titles</div>
<div class="menu">
    <a href="/demo/titles/home">Home</a>
    <a href="/demo/titles/add">Add</a>
    <a href="/demo/titles/list">List</a>
    <a href="/demo/titles/searchform">Search</a>
</div>
{% block content %}
{% endblock %}
</body>
</html>